/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.bunny.net/css2?family=Inter');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-beige;
}
